<div class="main">
	<!-- MAIN CONTENT -->
	<div class="main-content">
		<div class="container-fluid">
			<!-- END OVERVIEW -->
			<div class="row">
				<%= render partial: 'main_category', collection: load_main_category, as: :category %>
			</div>
		</div>
	</div>
	<!-- END MAIN CONTENT -->
</div>
