<div class="right">
  <div class="overlay"></div>
  <div class="content text">
    <h1 class="heading">"Make awesome things that matter."</h1>
    <p>Create a world where everyone has the freedom to make awesome things that matter</p>
  </div>
</div>