#myModal.modal.fade{:role => "dialog"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Thông tin người dùng
      .modal-body
        .row
          .col-md-6.col-sm-12
            1
          .col-md-6.col-sm-12
            1           
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close  