<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="brand">
    <a href="index.html">
      <%= image_tag 'logo', class: "img-responsive logo" %>
    </a>
  </div>
  <div class="container-fluid">
    

     <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" value="" class="form-control width-400" placeholder="Search dashboard...">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary">Go</button></span>
      </div>
    </form>

  

    <div class="navbar-btn navbar-btn-right padding-20">
      <a class="btn btn-success" href="#" title="Upgrade to Pro">
        <i class="fa fa-rocket"></i> <span>Đăng kí</span>
      </a>

       <a class="btn btn-success" href="#" title="Upgrade to Pro">
        <i class="fa fa-rocket"></i> <span>Đăng nhập</span>
      </a>
    </div>

      <div class="navbar-btn navbar-right padding-20">
          <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-right-circle"></i></button>
        </div>

    
  </div>
</nav>
<!-- END NAVBAR -->