#sidebar-nav.sidebar
  .sidebar-scroll.full-height
    %nav
      %ul.nav
        = render partial: 'shared/main_category', collection: load_main_category, as: :category
    = render partial: 'shared/keyword', collection: $keywords_category, as: :keyword

