= render partial: 'categories/document', collection: @documents, as: :document
.clearfix
.owl-carousel.owl-theme{id: "owl-2"}
  = render partial: 'shared/keyword_category', collection: @keywords_category, as: :keyword