.col-md-12
  .panel.panel-headline
    .clearfix
      = render partial: 'profile_left', locals: { document: @document }
      = render partial: 'profile_right', locals: { document: @document }
.col-md-12
  .panel.panel-headline
    .panel-heading
      %h3= "Tài liệu liên quan"
    .panel-body
      .owl-carousel.owl-theme
        = render partial: 'document', collection: @relation_documents, as: :document
