ul{
  margin: 0px;
  padding: 0px;
}

.padding-20 {
  padding: 20px;
}

.padding-5 {
  padding: 5px;
}

.margin-5{
  margin: 2px;
}

.margin-top-10{
  margin-top: 10px;
}


.width-400 {
  width: 400px !important;
}

.purple-gradient {
  background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
  background: -o-linear-gradient(50deg,#ff6ec4,#7873f5)!important;
  background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
}

.aqua-gradient {
  background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
  background: -o-linear-gradient(50deg,#2096ff,#05ffa3)!important;
  background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
}

.rainy-ashville-gradient {
  background-image: -webkit-gradient(linear,left bottom,left top,from(#fbc2eb),to(#a6c1ee));
  background-image: -webkit-linear-gradient(bottom,#fbc2eb 0,#a6c1ee 100%);
  background-image: -o-linear-gradient(bottom,#fbc2eb 0,#a6c1ee 100%);
  background-image: linear-gradient(to top,#fbc2eb 0,#a6c1ee 100%);
}

.blue-gradient {
  background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
  background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}

.peach-gradient {
  background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262)!important;
  background: -o-linear-gradient(50deg,#ffd86f,#fc6262)!important;
  background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
}


.morpheus-den-gradient {
  background-image: -webkit-gradient(linear,left bottom,left top,from(#30cfd0),to(#330867));
  background-image: -webkit-linear-gradient(bottom,#30cfd0 0,#330867 100%);
  background-image: -o-linear-gradient(bottom,#30cfd0 0,#330867 100%);
  background-image: linear-gradient(to top,#30cfd0 0,#330867 100%);
}

.dusty-grass-gradient {
  background-image: -webkit-linear-gradient(330deg,#d4fc79 0,#96e6a1 100%);
  background-image: -o-linear-gradient(330deg,#d4fc79 0,#96e6a1 100%);
  background-image: linear-gradient(120deg,#d4fc79 0,#96e6a1 100%);
}

.amy-crisp-gradient {
  background-image: -webkit-linear-gradient(330deg,#a6c0fe 0,#f68084 100%);
  background-image: -o-linear-gradient(330deg,#a6c0fe 0,#f68084 100%);
  background-image: linear-gradient(120deg,#a6c0fe 0,#f68084 100%);
}

.night-fade-gradient {
  background-image: -webkit-gradient(linear,left bottom,left top,from(#a18cd1),to(#fbc2eb));
  background-image: -webkit-linear-gradient(bottom,#a18cd1 0,#fbc2eb 100%);
  background-image: -o-linear-gradient(bottom,#a18cd1 0,#fbc2eb 100%);
  background-image: linear-gradient(to top,#a18cd1 0,#fbc2eb 100%);
}

.color-white {
  color: white;
}

.fw-bold {
  font-weight: bold;
}

.min-height-50 {
  height: 50px;
}

.height-150 {
  height: 150px!important;
  overflow: hidden;
}

.height-200 {
  height: 200px!important;
}

.padding-bottom-0 {
  padding-bottom: 0px!important;
}

.margin-20 {
  margin: 20px 0px !important;
}

.padding-10 {
  padding: 0 10px !important;
}

.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
      padding : 0;
      float: none;
      border: none;
  }
  .prev {
      padding : 0;
      float: none;
      border: none;
  }
  .page{
      padding : 0;
      float: none;
      border: none;
  }
  .next{
      padding : 0;
      float: none;
      border: none;
  }
  .last{
      padding : 0;
      float: none;
      border: none;
  }
}

.padding-top-15 {
  padding-top: 15px !important; }

.padding-bottom-15 {
  padding-bottom: 15px !important; }

.min-height-500{
  min-height: 500px !important;
}

.radius-5{
  border-radius: 5%;
}

// .active {
//   color: #fff;
//   background-color: #97a3a8;
// }

.badge-default {
  background-color: #2bbbad!important;
  color: #fff!important;
  font-weight: 200 !important;
}

.label-primary {
  background-color: #4285f4!important;
  color: #fff;
}

.hoverable {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .55s ease-in-out;
  -o-transition: all .55s ease-in-out;
  transition: all .55s ease-in-out;
}

.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
  -webkit-transition: all .55s ease-in-out;
  -o-transition: all .55s ease-in-out;
  transition: all .55s ease-in-out;
}

.padding-left-140{
  padding-left: 140px;
}

.badge-default:hover {
  background-color: #ff3547!important;
}

.full-height {
  height: 100% !important;
}

.text-white {
  color: #fff;
}

.text-white:hover {
  color: #fff;
}

.width-height-30{
  width: 30px!important;
  height: 30px;
}

.height-0{
  height: 0px!important;
}

.badge {
  background-color: #921414 !important;
}

